*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#happybday {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* nth child is the nth letter in happy birthday */
#happybday path:nth-child(1){
    stroke-dasharray: 557px;
    stroke-dashoffset: 557px;
    animation: line-anim 2s ease forwards;
}

#happybday path:nth-child(2){
    stroke-dasharray: 358px;
    stroke-dashoffset: 358px;
}

#happybday path:nth-child(3){
    stroke-dasharray: 418px;
    stroke-dashoffset: 418px;
}

#happybday path:nth-child(4){
    stroke-dasharray: 418px;
    stroke-dashoffset: 418px;
}

#happybday path:nth-child(5){
    stroke-dasharray: 468px;
    stroke-dashoffset: 468px;
}

#happybday path:nth-child(6){
    stroke-dasharray: 564px;
    stroke-dashoffset: 564px;
}

#happybday path:nth-child(7){
    stroke-dasharray: 263px;
    stroke-dashoffset: 263px;
}

#happybday path:nth-child(8){
    stroke-dasharray: 237px;
    stroke-dashoffset: 237px;
}

#happybday path:nth-child(9){
    stroke-dasharray: 277px;
    stroke-dashoffset: 277px;
}

#happybday path:nth-child(10){
    stroke-dasharray: 436px;
    stroke-dashoffset: 436px;
}

#happybday path:nth-child(11){
    stroke-dasharray: 452px;
    stroke-dashoffset: 452px;
}

#happybday path:nth-child(12){
    stroke-dasharray: 358px;
    stroke-dashoffset: 358px;
}

#happybday path:nth-child(13){
    stroke-dasharray: 468px;
    stroke-dashoffset: 468px;
}

@keyframes line-anim{
    to{
        stroke-dashoffset:0;
    }
}

section{
    height: 100vh;
    width: 100%;
}

.container{
    width: 100%;
    height: 100vh;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
}

.images{
    width: 100%;
    height: 110%;
    position: relative;
    z-index: -1;
    top: -10%;
}

.image-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.image-wrapper img{
    width: 100%;
    height: 100%;
}

.blur {
    width: 120%;
    margin-left: -10%;
    height: 250px;
    background-color: #030000;
    position: absolute;
    bottom: -180px;
    filter: blur(40px);
    z-index: 999;
}

.content {
    height: 100%;
    width: 100%;
    background-color: #030000;
    z-index: 0;
    top: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-images {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-image-wrapper {
    height: 220px;
    width: 150px;
    text-align: center;
    position: relative;
}

.content-image-wrapper img{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
}

.one {
    top: -10px;
}
.two {
    top: -50px;
}
.three {
    top: 20px;
}
.four {
    top: -20px;
}

.content-image-wrapper h4 {
    font-size: 1.8em;
    position: relative;
    top: -30px;
    opacity: 0.6;
}

.text {
    padding-top: 100px;
    width: 60%;
    font-size: 0.8em;
    text-align: center;
}
