/* remove basic styling */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

/* palette:

#C4E0FF

#C6C4FF

#C4FDFF
*/

/* Intro fade in */

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 2vw;
}

.intro h1 {
    font-family: 'Roboto Mono', monospace;
}
.kim {
    font-family: 맑은 고딕;
    font-size: 2em;
    color:blue;
}
.typing {
    top: 55%;
    left: 50%;
    border: 10px solid black;
    transform: translate('-50%','-50%');
    width: 70vw;
    padding: 10px 5px;
}

.arrow {
    opacity: 0;
}

.cursor1 {
    opacity: 0
}

.plsScroll {
    opacity: 0;
    position: absolute;
    left: 40%;
    top: 60%;
    font-size: 2vw;
    transform: translateX("-50%");
}

.introIMG {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    object-fit: cover;
    opacity: 0%;
}