/* remove basic styling */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.plane {
    position: absolute;
    height: 200px;
    animation: plane 1s ease infinite;
}

.preload{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        -225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%
        );
        position: relative;
        overflow: hidden;
}

.preload h3 {
    position: absolute;
    top: 70%;
    color: white;
    font-size: 30px;
    font-family: "Montserrat";
}

.cloudf {
    height: 100px;
    position: absolute;
    right: 0%; 
}

#cloud1 {
    top: 20%;
    transform: translateX(100%);
}

#cloud2 {
    top: 55%;
    transform: translateX(100%);
}

#cloud3 {
    top: 80%;
    transform: translateX(100%);
}

.cloudb {
    height: 60px;
    position: absolute;
    right: 0%;
}

#cloud4 {
    top: 30%;
    transform: translateX(100%);
}

#cloud5 {
    top: 65%;
    transform: translateX(100%);
}

#cloud6 {
    top: 90%;
    transform: translateX(100%);
}
