/* remove basic styling */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

/* palette:

#C4E0FF

#C6C4FF

#C4FDFF
*/

/* Intro fade in */

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 2vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.typing {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 10px solid black;
    transform: translate(-50%,-50%);
    width: 70vw;
    height: 10vh;
    padding: 10px 5px;
    z-index: 1;
}

.arrow {
    opacity: 0;
}

.cursor1 {
    opacity: 0
}

.plsScroll {
    opacity: 0;
    position: absolute;
    left: 40%;
    top: 60%;
    font-size: 2vw;
    transform: translateX("-50%");
}

.introIMG {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.inputContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70vw;
    height: 10vh;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}


input[type="text"]
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 10px solid green;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    color: white;
    background: transparent;
}