/* remove basic styling */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* palette:

#C4E0FF

#C6C4FF

#C4FDFF
*/

/* Intro fade in */

.intro {
    background: black;
    position: absolute; /* fix to free component from physical barriers */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    color: white;
    font-family: "Heebo", sans-serif;
    font-size: 2rem;
    background-color: blue;
    width: 80vw;
}

.filler {
    opacity: 0%;
}

.preload{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4E0FF;
}

.preload h3 {
    position: absolute;
    top: 70%;
    color: rgb(61,61,61);
    font-size: 3rem;
    font-family: "Lobster", cursive;
}

.plane {
    position: absolute;
    height: 200px;
}

.cloudf {
    height: 100px;
    position: absolute;
}

#cloud1 {
    top: 20%;
    transform: translateX(100%);
    right: 0%; 
}

#cloud2 {
    top: 55%;
    transform: translateX(100%);
    right: 20%;
}

#cloud3 {
    top: 80%;
    transform: translateX(100%);
    right: 60%;
}

.cloudb {
    height: 60px;
    position: absolute;
    right: 0%;
}

#cloud4 {
    top: 30%;
    transform: translateX(100%);
}

#cloud5 {
    top: 65%;
    transform: translateX(100%);
}

#cloud6 {
    top: 90%;
    transform: translateX(100%);
}

#fullpage {
    height: 100vh;
}