/* remove basic styling */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* palette:

#C4E0FF

#C6C4FF

#C4FDFF
*/

/* Intro fade in */

.intro {
    background: black;
    position: absolute; /* fix to free component from physical barriers */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    color: white;
}

.intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}